**/.idea/
pythonProject/
**/RealTimeRendering/
*.ini
/DeepLearning/**/models
/DeepLearning/**/logs
/DeepLearning/**/datasets
*.obj
*.hip
*.json
*.vdb
*.nvdb
*.nb
*.bgeo
*.sc
*.png
*.zip
*.pth
/CharacterAnimation/misc/